# Dependencies
node_modules/

# Build / Next
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# Debug / IDE
.DS_Store
*.log
.idea/
.vscode/

# Wrangler / Vercel
.wrangler/
.vercel/
*.pem
